<div class="container">
  <div class="row">
      <div class="col-md-10 col-md-offset-1">

          <div class="panel panel-default panel-table">
              <div class="panel-heading">
                  <div class="row">
                      <div class="col col-xs-6">
                          <h3 class="panel-title">Panel Heading</h3>
                      </div>
                      <div class="col col-xs-6 text-right">                        
                          <button routerLink="/content/teacher/form" class="btn btn-primary center-block">Form</button>
                      </div>
                  </div>
              </div>
              <div class="panel-body">
                  <table class="table table-striped table-bordered table-list">
                      <thead>
                          <tr>                              
                              <th>Name</th>
                              <th>Email</th>
                              <th>&nbsp;</th>
                          </tr>
                      </thead>
                      <tbody> 
                            <!-- {{logger(listPermission)}} -->
                          <tr *ngFor="let c of list?.info.content">
                              <td class="hidden-xs hiden" style="display:none">{{c?.id}}</td>
                              <td>{{c?.name}}</td>
                              <td>{{c?.email}}</td>
                              <th>
                                  <button data-toggle="modal" data-target="#squarespaceModal" (click)="loadEditData(c)">Edit</button>
                                  <button (click)="deletePermission(c, c.id)">Delete</button>
                                  <button [routerLink]="['/content/teacher/form', c.id]">edit 2</button>
                              </th>
                          </tr>

                      </tbody>
                  </table>

              </div>

          </div>  
      </div>
  </div>
</div>

