<div class="container">
  <div class="box-header">
    <h3 class="box-title">{{ title }}</h3>
  </div>  
  <form [formGroup]="teacherForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="inputname" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <!-- <input [(ngModel)]="permission.name" type="text" class="form-control" id="inputname" placeholder="name"> -->
        <input type="text" class="form-control" formControlName="name" [ngModel]="teacher.name" placeholder="name">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputdescription" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <!-- <input [(ngModel)]="permission.description" type="text" class="form-control" id="inputdescription" placeholder="description"> -->
        <input type="text" class="form-control" formControlName="email" [ngModel]="teacher.email" placeholder="email">
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </form>  
</div>